[Desktop Entry]
Name=KDE OSM Indoor Map
Name[ca]=Mapa d'interiors d'OSM de KDE
Name[ca@valencia]=Mapa d'interiors d'OSM de KDE
Name[en_GB]=KDE OSM Indoor Map
Name[es]=Planos de interiores de OSM para KDE
Name[fr]=Carte interne de OpenStreetMap pour KDE
Name[it]=Mappa degli interni OSM di KDE
Name[ko]=KDE OSM 실내 지도
Name[nl]=KDE OSM indoorkaart
Name[pl]=Mapa wnętrz OSM KDE
Name[pt]=Mapa de Interiores do OSM para o KDE
Name[sk]=KDE OSM mapa interiéru
Name[sl]=KDE OSM notranji načrt
Name[sv]=KDE OSM inomhuskarta
Name[uk]=Внутрішня карта OSM KDE
Name[x-test]=xxKDE OSM Indoor Mapxx
GenericName=OSM Indoor Map
GenericName[ca]=Mapa d'interiors d'OSM
GenericName[ca@valencia]=Mapa d'interiors d'OSM
GenericName[en_GB]=OSM Indoor Map
GenericName[es]=Planos de interiores de OSM
GenericName[fr]=Carte interne de OpenStreetMap
GenericName[it]=Mappa degli interni OSM
GenericName[ko]=OSM 실내 지도
GenericName[nl]=OSM indoorkaart
GenericName[pl]=Mapa wnętrz OSM KDE
GenericName[pt]=Mapa de Interiores do OSM
GenericName[sk]=OSM mapa interiéru
GenericName[sl]=OSM Indoor Map
GenericName[sv]=OSM inomhuskarta
GenericName[uk]=Внутрішня карта OSM
GenericName[x-test]=xxOSM Indoor Mapxx
Exec=kosmindoormap
Icon=go-home
Type=Application
Comment=OSM indoor map demo application
Comment[ca]=Aplicació de demostració de mapa d'interiors d'OSM
Comment[ca@valencia]=Aplicació de demostració de mapa d'interiors d'OSM
Comment[en_GB]=OSM indoor map demo application
Comment[es]=Aplicación de demostración de planos de interiores de OSM
Comment[fr]=Application de démonstration pour la carte interne de OpenStreetMap
Comment[it]=Applicazione dimostrativa per mappe degli interni OSM
Comment[ko]=OSM 실내 지도 데모 프로그램
Comment[nl]=Demo-toepassing van OSM indoorkaart 
Comment[pl]=Aplikacja pokazowa mapy wnętrz OSM
Comment[pt]=Aplicação de demonstração de mapas de interiores do OSM
Comment[sk]=Demo aplikuácia mapy interiéru OSM
Comment[sl]=Demo aplikacija OSM indoor map
Comment[sv]=Demonstrationsprogram för OSM inomhuskarta
Comment[uk]=Демонстраційна програма внутрішніх карт OSM
Comment[x-test]=xxOSM indoor map demo applicationxx
Terminal=false
Categories=Qt;KDE;Development;
