[Desktop Entry]
Name=KDE OSM Indoor Map
GenericName=OSM Indoor Map
Exec=kosmindoormap
Icon=go-home
Type=Application
Comment=OSM indoor map demo application
Terminal=false
Categories=Qt;KDE;Development;
